@import '../../styles//variables.scss';

.footer {
  height: 166px;
  width: 100%;
  margin-top: 108px;
  background-color: #2a2a34;

  .wrap {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0 0;

    img {
      margin: 6px;
    }

    .textGroup {
      margin-left: 80px;
      font-size: 12px;

      p {
        font-weight: 100;
        line-height: 18px;
        color: #fff;

        &:last-child {
          color: #979797;
        }
      }
    }
  }
}
